.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.Box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Chart1 {
  margin-right: 50px;
  width: 600px;
}

.Chart2 {
  margin-left: 50px;
  width: 600px;
}

.Chart3 {
  width: 600px;
  margin-right: 50px;
}

.Chart4 {
  width: 600px;
  margin-left: 50px;
}

.title {
  margin-bottom: -10px;
}
