.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Chart1 {
  width: 600px;
}

.Chart2 {
  width: 600px;
}
